<h1 class="underline">D3.js Data Visualizations</h1>

<ul>
  <li><a href="one-circle">One Circle</a></li>
  <li><a href="confetti">Confetti</a></li>
  <li><a href="stacked-circles">Stacked Circles</a></li>
  <li><a href="one-line">One Line</a></li>
  <li><a href="one-box">One Box</a></li>
  <li><a href="scaled-line">Scaled Line</a></li>
  <li><a href="animated-scaled-line">Animated Scaled Line</a></li>
  <li><a href="basic-line-chart">Basic Line Chart</a></li>
  <li><a href="area-chart">Area Chart</a></li>
  <li><a href="time-chart">Time Chart</a></li>
  <li><a href="planets">Planets</a></li>
  <li><a href="scores">Scores</a></li>
  <li><a href="peace-sign">Peace Sign</a></li>
  <li><a href="monthly-bills">Monthly Bills</a></li>
  <li><a href="crazy-pie-chart">Crazy Pie Chart</a></li>
  <li><a href="updated-circle">Updated Circle</a></li>
  <li><a href="updating-bar-chart">Updating Bar Chart</a></li>
  <li><a href="user-updating-bar-chart">User Updating Bar Chart</a></li>
  <li><a href="updating-pie-chart">Updating Pie Chart</a></li>
</ul>

<script type="module" src="{{ script }}"></script>
